{% extends 'base.html.twig' %}

{% block content %}
    {{ form_start(form) }}
        {{ form_row(form.username) }}

        <button type="submit" class="btn">Save</button>
        {{ form_end(form) }}
{% endblock %}