<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <h3>Application</h3>

            {% for label, messages in app.flashes(['success', 'warning', 'error']) %}
                {% for message in messages %}
                    <div class="flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            {{ knp_menu_render('main') }}

            {% block content %}{% endblock %}
        {% endblock %}
        {% block javascripts %}
            <script>
                (function () {
                    const eventSource = new EventSource('http://localhost:4000/.well-known/mercure?topic=myTopic');

                    eventSource.onmessage = event => {
                        console.log(JSON.parse(event.data));
                    }
                })();
            </script>
        {% endblock %}
    </body>
</html>
